.selected-answer {
  display: block;/*necessario para manter o tamanho do panel quando utilizar o waves-effect !important*/
  background-color:#8c1010 !important;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0), 
              0 1px 5px 0 rgba(0,0,0,0.12), 
              0 3px 1px -2px rgba(0,0,0,0.2);
}

.selected-answer > h6{
  font-weight: 500;
  font-style: italic;
}
.touchable {
    cursor: pointer;
}
