.numberBadge {
  position: relative;
}
.numberBadge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 11px;
  right: 0px;
  font-size: .7em;
  background: #1e88e5;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
}
